@font-face {
   font-family: 'Pacifico';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///H:/M%C3%B3j%20dysk/inne%20WWW/WWW%20psi%20salonik/fonts/Pacifico/regular.ttf') format('truetype');
}
